/* Document */
* {
  -webkit-user-select: none; /* Safari, iOS, and Android */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}

a {
  color: #f2511b;
  text-decoration: none;
}

a:hover {
  color: #d44500;
  text-decoration: none;
}

body {
  margin: 2%;
}

h1, h2, h3 {
  font-family: Raleway;
  font-weight: 600;
}

h2 {
  font-size: 1.6em;
  color: #f2511b;
}

h3 {
  font-size: 1.4em;
  font-weight: 900;
}

h4 {
  margin: 0;
  font-size: 1.3em;
  font-weight: 600;
}

h5 {
  margin-bottom: 6px;
  font-size: 1em;
  font-weight: 500;
  color: #888;
}

hr {
  border: none;
  height: 4px;
  margin-top: 12px;
  margin-bottom: 12px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

p {
  margin-bottom: 12px;
}

button.button-primary {
  background-color: #f2511b;
  border-color: #f2511b;
}

button.button-primary:hover {
  background-color: #d44500;
  border-color: #d44500;
}

.container {
  max-width: 960px;
}

.no-select {
  cursor: default;
}

.row {
  padding-top: 12px;
}

@media screen and (min-width: 112rem) {
  .u-scale-down {
    font-size: 4.2rem;
  }
}

@media screen and (max-width: 112rem) {
  .u-scale-down {
    font-size: 3.8rem;
  }
}

@media screen and (max-width: 96rem) {
  .u-scale-down {
    font-size: 3.2rem;
  }
}

@media screen and (max-width: 84rem) {
  .u-scale-down {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 76rem) {
  .u-scale-down {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 54.3rem) {
  .u-scale-down {
    font-size: 4.2rem;
  }
}
